.page-home {
  background-color: #edf6f9;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 50%;
    background-position: right center;
  }
}
