div .testimonial:nth-child(2n + 1) {
  -moz-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
} 

.testimonial {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  &.transform {
    .testimonials-content {
      -moz-transform: translateX(50px);
      -webkit-transform: translateX(50px);
      -o-transform: translateX(50px);
      -ms-transform: translateX(50px);
      transform: translateX(50px);
    }
  }
  .testimonials-image {
    flex: 0;
    margin-right: 10px;
    img {
      width: 160px;
    }
  }
  .testimonials-meta {
    flex: 1;
    margin-bottom: 10px;
    text-align: right;
    font-size: .8rem;
    p {
      margin-bottom: 0;
    }
    @media (min-width: 576px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 992px) {
      font-size: 1rem;
    }
  }
  .testimonials-title {
    margin-bottom: 5px;
  }
  .testimonials-name {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }
  .testimonials-jobtitle {
    display: inline-block;
  }
  .testimonials-content {
    flex: 1 0 100%;
    blockquote {
      display: block;
      position: relative;
      line-height: 1.2;
      font-weight: 300;
      background: #fff;
      font-size: 1rem;
      padding: 1em;
      margin: 1em 0;
      @media (min-width: 576px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 992px) {
        font-size: 2rem;
        padding: 1.5em;
        margin: 1.5em 0;
      }
    }
    blockquote:before {
      content: '\201C';
      position: absolute;
      top: 0em;
      left: 0%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 2rem;
      font: 3em/1.08em 'PT Sans', sans-serif;
      color: #8d98a2;
      text-align: center;
    }
    // blockquote:after {
    //   content: "\2013 \2003" attr(cite);
    //   display: block;
    //   text-align: right;
    //   font-size: 0.875em;
    //   color: #e74c3c;
    // }
  }
}
