.personalProjects {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3rem;
}

.personalProjectContent {
    margin-bottom: 0.5rem;
    position: relative;
    border-radius: 20px;

    &:before {
        content: "";
position: absolute;
top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 20px;
        background: linear-gradient(135deg,rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, .2) 45%, rgba(255, 255, 255, 0) 46%);
    }

    img {
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, .1);
    }
}

.personalProjectMeta {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.personalProjectLink {
    color: #333;
}
