.sectionHeaderWork {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .sectionHeaderWork {
    padding-top: 150px;
    padding-bottom: 50px;
    margin-bottom: 60px;
  }
}
