.sectionCourse {
  position: relative;

  @media (max-width: 780px) {
    margin-bottom: 4rem;
  }

  @media (max-width: 575px) {
    margin-bottom: 0;
  }
}

.sectionCourse::after {
  content: "";
  height: 28rem;
  right: 6.25vw;
  position: absolute;
  top: 6rem;
  width: 18.75vw;
  display: block;
  background: url("/dot.svg") center top / contain repeat-y;
}

.sectionCourse::before {
  content: "";
  height: 16rem;
  right: 20vw;
  position: absolute;
  top: -12rem;
  width: 2px;
  background: rgb(136, 136, 136);
}

.sectionCourse :global(.hero-figure-box-01) {
  left: -8rem;
}
