.sectionTestimonyInner {
  background: #fbfaf9;
  color: #686868;
  padding-top: 100px;
  padding-bottom: 100px;
  
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
