.styledWorkGroup {
  background-color: transparent;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  -webkit-box-align: start;
  align-items: start;
  padding: 0 0 4rem;
  
  @media (min-width: 768px) {
    padding: 0rem 0px 8rem;
  }
}
